* {
  box-sizing: border-box;
  border-spacing: 0;
}

.App {
  color: white;
  background-color: #282c34;
  text-align: center;
  padding: 20px;
}

.table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.table td, .table th{
  padding:12px 15px;
  border:0px solid #ddd;
  text-align: center;
  font-size:15px;
  white-space: nowrap;
}

.table th{
	background-color:slategray;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

.table tbody tr:hover {
	background: rgba(112, 128, 144, 0.2) !important;
}

.icon {
	fill: white;
	filter: brightness(0) invert(1);
}

.transparent {
	filter: opacity(0);
}


/* Responsive - mobile */

@media(max-width: 500px){
	.App {
		padding-left: 0;
		padding-right: 0;
	}
	.table thead{
		display: none;
	}
	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:30px;
	}
	.table td{
		text-align: left;
		padding-left: 30%;
		position: relative;
	}
	[data-label="Name"] {
		background-color: slategray;
		color: white !important;
		font-weight: bold;
	}
	[data-label="Rank"] {
		background-color: lightgray;
	}

	[data-label="24h"]::before {
		color: black;
	}

	.table td::before{
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
	.table [data-label="Name"]::before  {
		color: white;
	}
	}.table tbody tr:hover {
		background-color: #f5f5f5;
	}
